.container{
  width:100%;
  margin-top: 100px;
}

.content{
	width: 80%;
	margin: auto;
}

.init li{display: inline; margin:0 10px;}

a{color: #01B6AD; text-decoration: none}
a:hover{color:#0A4958;}

/*FORM STYLING*/
label{width:130px; display:inline-block}
input{margin-bottom:20px}

textarea{
  margin-bottom: 20px;
  padding: 20px;
  border: 1px dashed #BBB;
  border-radius: 20px;
  resize: none;
}
textarea:focus{
  outline: none;
}
input[type="submit"]{
  border-radius:6px;
  background-color:white;
  border:1px solid #0A4958
}
input[type="submit"]:hover{
  border-radius:6px;
  background-color: #0A4958;
  border:1px solid #01B6AD;
  color: #FFFFFF
}
form{margin: 20px}


/* Autenthication */

nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

.errors {
  color: red;
}

#sign-out input {
  border:none;
  background:none;
  font-weight: :bold;
}
