#wrapper {
  margin: 50px auto;
  width: 1000px;
}

#container {
  overflow: auto;
}

th {
  text-align: left;
}

a {
  text-decoration: none;
}

#side-nav {
  position: relative;
  float: left;
  height: 700px;
  margin-right: 1%;
  padding: calc(1% - 1px);
  width: 25%;
  border: 1px solid #e0e0e0;
}

#side-nav ul {
  list-style: none;
  padding: 0;
}

a.view-survey {
  display: block;
  line-height: 1.5em;
}

a.take-survey {
  display: block;
  line-height: 1.5em;
}

#main-panel {
  position: relative;
  float: right;
  height: 700px;
  padding: calc(1% - 1px);
  width: 70%;
  border: 1px solid #e0e0e0;
}

.active {
  background-color: #e0e0e0;
}

h4 {
  font-weight: normal;
}

#logout {
  visibility: hidden;
}
