<h3 id="current-question">Question: <%= @current_question %></h3>
<form id="new-choice-form">
  Choice 1: <input type="text" name="choice">
  <br>
  Choice 2: <input type="text" name="choice">
  <button class="add-choice">Add Choice</button>
  <br>
  <button class="create-question">Save Question</button>
</form>
