<h3 id="current-question">Question: <%= @current_question %></h3>
<form id="new-choice-form">
  Choice: <input type="text" name="choice">
  <br>
  Choice: <input type="text" name="choice">
  <br>
  <button class="add-choice">Add Choice</button>
  <br>
  <button class="next-question">Next Question</button>
  <br>
  <button class="save-survey">Save Survey</button>
</form>
