<div id="side-nav">
  <h3>My Surveys:</h3>
  <button id="create-new-survey">Create New Survey</button><br>
  <ul>
  <% @surveys.each do |survey| %>
    <li>
      <a class="view-survey" id="<%= survey.id %>" href="#"><%= survey.title %></a>
    </li>
  <% end %>
  </ul>
</div>

<div id="main-panel"></div>
