<h1>Edit</h1>
<form action="/save/<%= @note.id %>" method="post">
  Title:
  <br>
  <input type="text" name="title" size="71" value="<%= @note.title %>">
  <br><br>
  Content:
  <br>
  <input type="text" name="content" size="71" value="<%= @note.content %>">
  <br>
  <input type="submit" value="Save">
</form>
