<section class="container">
    <div class="content">
        <h2>Create a new survey:</h2>
        <form action="/surveys/<%=@survey.id%>" method="post">
            <input type="hidden" name="_method" value="put">
            <label>Title:</label>
            <input type="text" name="title" placeholder="Survey" value="<%=@survey.title%>"><br>

            <input type="submit" value="Update survey!"><br>
            <a href="/surveys/<%=@survey.id%>">CANCEL!</a>
        </form>
    </div>
</section>