<h1>Notes</h1>
<br>
Add new note:
<form action="/" method="post">
  <input type="text" name="content">
  <input type="submit" value="Create">
</form>

<ul>
  <% @notes.each do |note| %>
    <li>
      <%= note.title %>
      <small><a href="/note/<%= note.id %>">View</a></small>
      <small><a href="/edit/<%= note.id %>">Update</a></small>
      <small><a href="/delete/<%= note.id %>">Delete</a></small>
    </li>
  <% end %>
</ul>
