<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/controllers/controller.js"></script>
  <script src="/js/controllers/server.js"></script>
  <script src="/js/views/view.js"></script>
  <script src="/js/models/survey.js"></script>

  <title></title>
</head>
<body>
  <div id="wrapper">
    <br>
    <a href="/">Home</a>
    <%= yield %>
  </div>
</body>
</html>
