<section class="container">
    <div class="content">
        <h2>Create a new survey:</h2>
        <form action="/survey" method="post">
            <label>Title:</label>
            <input type="text" name="title" placeholder="Survey"><br>

            <label>Content:</label>
            <textarea rows="6" cols="60" name="content" placeholder="Remember to write more surveys."></textarea><br>

            <input type="submit" value="Create new survey!">
        </form>
    </div>
</section>