<section class="container">
    <div class="content">
        <h2>Create a new survey:</h2>
        <form action="/surveys" method="post">
            <label>Title:</label>
            <input type="text" name="title" placeholder="Survey"><br>

            <label>Question:</label>
            <input type="text" name="question" placeholder="Question"><br>

            <a style="float:right; margin-right: 385px; position:relative; bottom:15px;" href="#">Add Additional Questions</a><br>

            <label>Choice:</label>
            <input type="text" name="choice" placeholder="Choice"><br>

            <a style="float:right; margin-right: 385px; position:relative; bottom:15px;" href="#">Add Additional Choices</a><br><br>


            <input type="submit" value="Create new survey!">
        </form>
    </div>
</section>