<section class="container">
	<div class="content">
		<h1><%=@survey.title%></h1>
		<nav>
			<ul>
				<li><a href="/surveys/<%=@survey.id%>/edit">Edit</a></li>
				<li><a href="/surveys/<%=@survey.id%>/delete">Delete</a></li>
			</ul>
		</nav>
	</div>
</section>